// _theme.scss
:root {
  --color-primary: #4BA38D;
  --color-text: #FFFFFF;
  --color-bg: #1C1B1B;

  --nav-height: 4rem;
  --nav-gap: 1rem;
  --nav-bg: var(--color-bg);
  --nav-text: var(--color-text);
  --nav-accent: var(--color-primary);

  color: var(--color-text);
  background: var(--color-bg);
}