// _button.scss
.button { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem; 
  text-align: center;
  text-decoration: none;
  
  &__cta-primary {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    width: clamp(7rem, 14vw, 8rem);
    aspect-ratio: 1;
    border-radius: 50%;
    line-height: 1.15;
    transition: filter 0.3s ease;
    text-transform: uppercase;
    font-weight: medium;

    &:hover,
    &:focus {
      filter: brightness(1.08);
    }
  }
}

